/* CSS non travaillé par manque de temps */

body {
    background-color: #EBDAC5;
}

/* fonction qui permet de mettre un fond basé sur une image */
h1 {
    background: url("/transparent-1655599_640.png") repeat top left #4D719E;
    color: white;
}

/* fonction qui permet de mettre un fond basé sur une image */
h2 {
    background: url("/transparent-1655599_640.png") repeat top left #C5D6EB;
    color: white;
}