
body {
    background-color: #EBDAC5;
}

h1 {
    background: url("../transparent-1655599_640.png") repeat top left #4D719E;
    color: white;
}

h2 {
    background: url("../transparent-1655599_640.png") repeat top left #C5D6EB;
    color: white;
}
